<!DOCTYPE html>
{% load bootstrap3 %}
<html>

<head>
  <meta charset="utf-8">
  <title>Real Estate</title>
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>


<body>
  <div class="container mycontent">
    {% block content %}
    <h3>Login Here!</h3>
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Login" class="btn btn-primary">
    </form>
    <br>
    <h4>Don't Have Account??</h4>
    <a class="btn btn-success" href="{% url 'accounts:signup' %}">SignUp</a>
    <br>
    <br>
    <h4>Admin Login??</h4>
    <a class="btn btn-info" href="{% url 'accounts:adminlogin' %}">Admin Login</a>
    {% endblock %}
  </div>
</body>

</html>