<!DOCTYPE html>\
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real State In Nepal</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="{% static 'css/morang1details.css' %}" type="text/css" rel="Stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <section id="properties">
        <div class="container">
    <div id="properties-slider" class="slick">
        <div>
           <img src="{% static "images/aa121e2010448532595792934d72e517.jpg" %}" alt="Property 1" style="width: 1000px;height: 600px"/>
            <div class="property-details">
              <span class="fas fa-map-marker"style="margin-top:20px" >Tinkune,Kathmandu</span>
              <p class="price"style="font-weight: bold;">Rs.3,40,00,000</p>
              <span class="sqft"style="font-weight: bold;">4,250 sqft.</span>
            </div>
        </div>

