<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% for post in object_list %}
    <img src="{{post.image1.url}}" alt="img" width="100%" > </a> 
                                <div class="carousel-caption">
                                        <h3>Jan Smith</h3>
                                        <span class="fas fa-map-marker"> Tinkune,Kathmandu</span>
                                      </div>
                              </div>
                        
                              <div class="item">
                                <img src="{{ post.image2.url }}" alt="img" width="100%" >
                              </div>
                            
                              <div class="item">
                                
                                <img src="{{ post.image3.url }}" alt="img" width="100%" >
                              </div>
                              
                              <div class="item">
                                
                                <img src="{{ post.image4.url }}" alt="img" width="100%">    
                             </div>
                            </div>
                    
        <ul>
                <li><h4>Name: {{ post.Name }}</h4></li>
                <li><h4>Address: {{ post.Address }}</h4></li>
                <li><h4>Phone Number: {{ post.phone_number }}</h4></li>
                <li><h4>Google location Url: {{ post.url_location }}</h4></li>
                <li><h4>Amount: Rs {{ post.amount }}</h4></li>
                <li><h4>Property Length: {{ post.length }}</h4></li>
                <li><h4>Property Breadth: {{ post.breadth }}</h4></li>
        </ul>
        {% endfor %}
</body>
</html>