<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
</head>

<body>
    
    <h1><a class="navbar-brand mynav" href="{% url 'homepage' %}">Go Home</a></h1>
    <h4>Name: {{ post.owners_name }}</h4>
    <h4>Address: {{ post.Address }}</h4>
    <h4>Phone Number: {{ post.contact_number }}</h4>
    <h4>Google location Url: {{ post.location }}</h4>
    <h4>Amount: Rs {{ post.amount }}</h4>
    <h4>Property Length: {{ post.length }}</h4>
    <h4>Property Breadth: {{ post.Area }}</h4>
    <img src="{{post.frontview.url}}" alt="img" width="260" height="200">
    <img src="{{ post.leftsideview.url }}" alt="img" width="260" height="200">
    <img src="{{ post.backsideview.url }}" alt="img" width="260" height="200">
    <img src="{{ post.rightsideview.url }}" alt="img" width="260" height="200">
    </ul>
    {% if object.published_date %}
    <h1>Status:Published</h1>
    {% else %}
    <br>
    <h1><a class="btn btn-success" href="{% url 'post:post_publish' pk=post.pk %}">Publish</a></h1>
    {% endif %}

    <p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>
</body>

</html>