<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Form</title>
    <script>
        var subjectObject = {
            "Pradesh No.1": {
                "Illam": 'Illam',
                "Jhapa": 'Jhapa'
            },
            "Pradesh No.2": {
                "Saptari": 'Saptari',
                 "Siraha": 'Siraha'
            },
            "Bagmati Pradesh": {
                "Chitwan": 'Chitwan',
                "Kathmandu": 'Kathmandu'
            },
            "Gandaki Pradesh": {
                "Kaski": 'Kaski',
                "Tanahun": 'Tanahun'
            },
            "Lumbini Pradesh": {
                "Palpa": 'Palpa',
                "Rupendehi": 'Rupendehi'
            },
            "Karnali Pradesh": {
                "Dolpa": 'Dolpa',
                "Humla": 'Humla'
            },
            "Sudurpaschim Pradesh": {
                "Darchula": 'Darchula',
                "Kailali": 'Kailali'
            },
        }
        window.onload = function () {
            var subjectSel = document.getElementById("subject");
            var topicSel = document.getElementById("topic");
            for (var x in subjectObject) {
                subjectSel.options[subjectSel.options.length] = new Option(x, x);
            }
            subjectSel.onchange = function () {
                //empty Chapters- and Topics- dropdowns
                topicSel.length = 1;
                //display correct values
                for (var y in subjectObject[this.value]) {
                    topicSel.options[topicSel.options.length] = new Option(y, y);
                }
            }

        }
    </script>
</head>
<body>
    <div class="jumbotron">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Province: <select name="province" id="subject">
                <option value="" selected="selected">Select Province</option>
            </select>
            <br><br>
            District: <select name="district" id="topic">
                <option value="" selected="selected">Please select Province First</option>
            </select>
            <br><br>
            {{ form.as_p }}
            <br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>

</body>
</html>

