#properties {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1rem;
    margin: 4rem 0 8rem;
    padding-top: 70px;
    position: relative;
    min-width: 100px;
    padding-left: 70px;
    
}

